In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Iris.csv")

i. Shape (rows and columns)

In [3]:
df.shape

(150, 6)

ii. Columns (list of all column names)

In [4]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

as a list

In [5]:
list(df.columns)

['Id',
 'SepalLengthCm',
 'SepalWidthCm',
 'PetalLengthCm',
 'PetalWidthCm',
 'Species']

iii. Null values (missing values)

In [6]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

To check if there are any nulls at all:

In [7]:
df.isnull().values.any()

np.False_

iv. Duplicate rows

In [8]:
df.duplicated().sum()

np.int64(0)

In [ ]:
#to drop duplicates
#df = df.drop_duplicates()

v. Data Types

In [10]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

vi. Object Data (columns with string/categorical data)

In [11]:
df.select_dtypes(include='object')

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 1 columns]

In [12]:
#To get the list of those column names:
df.select_dtypes(include='object').columns

Index(['Species'], dtype='object')